/* styles for WILD-s0-central-survey*/
.survay {
    background: linear-gradient(180deg, #320D6F 0%, #7160D8 99.96%, #484848 99.97%, #707070 99.98%);
    font-family: Raleway;
    color: #fff;
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;

}

.survay_container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;

}

.survay_item {
    width: 100%;
    position: relative;
}

.survay_item::before {
    content: '';
    background-image: url(./QR_code.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 187px;
    height: 177px;
    top: 100px;
    left: 0;

}

.survay_header {
    display: flex;
    justify-content: space-between;
}

.survay_header p {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    margin-top: 20px;
}

.survay_title {
    width: 465px;
    margin-left: auto;
    margin-right: auto
}

.survay_title img {
    width: 100%;
    height: auto;
}

.survay_text {
    max-width: 924px;
    margin-left: auto;
    margin-right: auto;
    line-height: 75px;
    letter-spacing: 0em;

}

.survay_text h1 {
    font-size: 64px;
    font-weight: 700;
}

.survay_text p {
    font-size: 64px;
    font-weight: 500;

}

.survay_text--italic {
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
}

.survay_background {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1000;
}

.survay_img_3 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 336px;
}

.survay_img_2 {
    height: 130px;
    position: absolute;
    bottom: 0;
}

.survay_img_1 {
    position: absolute;
    bottom: 0;
    height: 280px;
}

.survay_background--right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.survay_img_4 {
    position: relative;
    bottom: -10px;
    right: -55px;
}

.survay_img_5 {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 100%;
}

.survay_img_6 {
    position: absolute;
    bottom: 0;
    right: -30px;
    height: 336px;

}

/*  end styles for WILD-s0-central-survey*/


/*  styles for WILD-s0-central-trivia*/

.trivia {
    background: linear-gradient(180deg, #320D6F 0%, #7160D8 99.96%, #484848 99.97%, #707070 99.98%);
    font-family: Raleway;
    color: #fff;
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;

}

.trivia_container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;

}

.trivia_item {
    width: 100%;
    position: relative;
}

.trivia_item::before {
    content: '';
    background-image: url(./QR_code.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 187px;
    height: 177px;
    top: 100px;
    left: 0;

}

.trivia_header {
    display: flex;
    justify-content: space-between;
}

.trivia_header p {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    margin-top: 20px;
}

.trivia_title {
    width: 772px;
    margin-left: auto;
    margin-right: auto
}

.trivia_title img {
    width: 100%;
    height: auto;
}

.trivia_text {
    max-width: 924px;
    margin-left: auto;
    margin-right: auto;
    line-height: 75px;
    letter-spacing: 0em;

}

.trivia_text h1 {
    font-size: 64px;
    font-weight: 700;
}

.trivia_text p {
    font-size: 64px;
    font-weight: 500;

}

.trivia_background {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1000;
}

.trivia_img_3 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 336px;
}

.trivia_img_2 {
    height: 130px;
    position: absolute;
    bottom: 0;
}

.trivia_img_1 {
    position: absolute;
    bottom: 0;
    height: 280px;
}

.trivia_background--right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.trivia_img_4 {
    position: relative;
    bottom: -10px;
    right: -55px;
}

.trivia_img_5 {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 100%;
}

.trivia_img_6 {
    position: absolute;
    bottom: 0;
    right: -30px;
    height: 336px;

}

/*  end styles for WILD-s0-central-trivia*/

/*  styles forWILD-s4-central-card-4*/

.card-4 {
    background: linear-gradient(180deg, #320D6F 0%, #7160D8 99.96%, #484848 99.97%, #707070 99.98%);
    font-family: Raleway;
    color: #fff;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.card-4_container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-4_item {
    width: 100%;
    position: relative;

}

.card-4_title h1 {
    position: relative;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 0em;
    width: 509px;
    margin: 84px auto 150px auto;

}

.card-4_title ::after {
    content: '';
    background-image: url(./Vector_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 92px;
    top: 50px;
    left: 0;
}

.card-4_list {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

@media screen and (max-width:1200px) {
    .card-4_list {
        flex-direction: column
    }
}

.card-4_list--right,
.card-4_list--left {
    padding: 50px 143px 76px;
    background: #320D6F;
    border-radius: 27px;
}

.card-4_list--left {
    margin-left: 13px;
}

.card-4_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card-4_list li p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-4_list_number {
    font-size: 48px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 25px 15px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 19px;
}

#card-4_number--red {
    background: #F31B46;
}

#card-4_number--blue {
    background: #1E67F3;
}

#card-4_number--light-green {
    background: #058A84;
}

#card-4_number--yellow {
    background: #F9A00C;
}

#card-4_number--purple {
    background: #44217C;
}

#card-4_number--green {
    background: #4FAD53;
}

#card-4_number--orange {
    background: #FE4C09;
}

#card-4_number--light-blue {
    background: #00B3FF;
}

#card-4_number--crimson {
    background: #B70642;
}

#card-4_number--gray {
    background: #706FB0;
}

.card-4_list_text {
    font-size: 48px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    margin-right: 45px;
}

.card-4_list_score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    margin-bottom: 13px;
    margin-top: 0;
    padding-top: 8px;
    position: relative;
    z-index: 1;

}

.card-4_list_score::after {
    content: '';
    background-image: url('./cup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 104px;
    position: absolute;
    top: -15px;
    z-index: -1;
}


.card-4_background {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
}

.card-4_img_3 {
    position: absolute;
    left: 0;
    top: -150px;
    height: 336px;
    transform: rotate(50deg);
}

.card-4_img_2 {
    height: 130px;
    position: absolute;
    top: -55px;
    transform: rotate(180deg);
}

.card-4_img_1 {
    position: absolute;
    top: -55px;
    height: 280px;
}

/*  end styles for WILD-s4-central-card-4*/

/*  styles for WILD-s4-central-card-2*/
.card-2 {
    background: linear-gradient(180deg, #320D6F 0%, #7160D8 99.96%, #484848 99.97%, #707070 99.98%);
    font-family: Raleway;
    color: #fff;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}

.card-2_container {
    max-width: 1400px;
    margin: 30px auto 25px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-2_item {
    width: 100%;
    position: relative;

}

.card-2_subtite {
    width: 188px;
    margin: 0 auto 37px auto;
}

.card-2_subtite p {
    position: relative;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    width: 188px;


}

.card-2_subtite ::after {
    content: '';
    background-image: url(./Vector_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 37px;
    top: 50px;
    left: 0;
}

.card-2_question {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
}

.card-2_question span {
    font-weight: 700;
}

.card-2_img {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
}

.card-2_img img {
    width: 100%;
}

.card-2_answer {
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
}

.card-2_answer p {
    margin-bottom: 10px;
}

.card-2_answer span {
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;
    margin-right: 25px;
}

.card-2_score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 0;
    padding-top: 8px;
    position: relative;
    z-index: 1;

}

.card-2_score::after {
    content: '';
    background-image: url('./cup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 62px;
    width: 60px;
    position: absolute;
    top: 20px;
    z-index: -1;
}

.card-2_button {
    background: #320D6F;
    border-radius: 27px;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding: 21px;
    margin-bottom: 45px;
}

.card-2_button h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 49px;
    letter-spacing: 0em;
    margin-top: 0;
    margin-bottom: 10px;

}

.card-2_button button {
    background: #F19800;
    border-radius: 42px;
    border: none;
    min-width: 320px;
    width: auto;
    max-width: max-content;
    min-height: 72px;
    height: auto;
    max-height: max-content;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    color: #fff;
}

.card-2_background {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
}

.card-2_img_3 {
    position: absolute;
    left: 0;
    top: -150px;
    height: 336px;
    transform: rotate(50deg);
}

.card-2_img_2 {
    height: 130px;
    position: absolute;
    top: -55px;
    transform: rotate(180deg);
}

.card-2_img_1 {
    position: absolute;
    top: -55px;
    height: 280px;
}

.card-2_quote {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    background-image: url('./card2_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 55px 5px 55px 110px;
}
@media screen and (max-width:1200px)  {
    .card-2_quote{
        font-size: 24px;

    }
}
.card-2_quote span {
    font-weight: 700;
}

/*  end styles for WILD-s4-central-card-2*/